# The API version you want to use: COMP = completion models like davinci-003; GPT model GPT-35-turbo or such  models
AOAI_OPENAI_API_COMP_VERSION="<version here>"
AOAI_OPENAI_API_GPT_VERSION="<version here>"
AOAI_OPENAI_API_COMP_MODEL="<model here>"
AOAI_OPENAI_API_GPT_MODEL="<model here>"
# The base URL for your Azure OpenAI resource.  You can find this in the Azure portal under your Azure OpenAI resource.
AOAI_OPENAI_API_BASE="https://your-resource-name.openai.azure.com"
# The API key for your Azure OpenAI resource.  You can find this in the Azure portal under your Azure OpenAI resource.
AOAI_OPENAI_API_KEY="<your Azure OpenAI API key>"

OPENAI_API_KEY="<your OpenAI key here>"

TOKENIZERS_PARALLELISM=false